<?xml version="1.0" encoding="UTF-8" ?>

<phpunit colors="true" bootstrap="Tests/bootstrap.php"  convertNoticesToExceptions="false" convertWarningsToExceptions="false">

    <php>
        <server name="SYMFONY_ENV" value="test" />
        <server name="SYMFONY_DEBUG" value="true" />
        <server name="KERNEL_DIR" value="Tests/Resources/app" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./Tests</directory>
            <exclude>
                <directory>./Resources</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="eZORM Bundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>